/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6467; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a4648; 
}


#home-section-head{
  padding: 0% 0%;
}



#home-section-head .carousel-control-prev-icon{
  border-radius: 100%;
  background-color:#4a4648;
  height: 2rem;
  
}
#home-section-head .carousel-control-next-icon{
  border-radius: 100%;
  background-color:#4a4648;
  height: 2rem;

}


/* #home-section-bottom */
#home-section-bottom{
  padding: 4% 12% 0;
  text-align: center;
}

#home-section-bottom p{
  padding: 0 5%;
}

#home-section-bottom i{
  font-size: 3.8rem;
}


/* middle-section-head */

#middle-section-head {
  padding: 4% 0% 0;
  color: #fff;
  text-align: center;
}

.parallex-1 {
  background: linear-gradient(rgba(48, 47, 48, 0.7), rgba(48, 47, 48, 0.7)), url('../img/lights.jpg');
  min-height: 200px; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


/* middle-section-bottom */
#middle-section-bottom{
  padding: 2% 12%;
}

#middle-section-bottom h4{
  margin-top: 20%;
}

#middle-section-bottom img{
  width: 90%;
}

/* what-to-do */
#what-to-do{
  color: #fff;
  text-align: center;
}

#what-to-do i{
  font-size: 4.5rem;
}

.parallex-2 {
  background: linear-gradient(rgba(48, 47, 48, 0.7), rgba(48, 47, 48, 0.7)), url('../img/media.jpg');
  min-height: 220px; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* section-gallery */
#section-gallery{
  text-align: center;
  padding: 2% 10%;
}

#section-gallery .item {
  transition: .5s ease-in-out;
}

#section-gallery .item:hover {
  filter: brightness(70%);
}

/*  footer-section */
#footer {
  margin-top: 6%;
  padding: 4% 15%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

/* copyright */
#copyright{
  background-color: black;
  padding: 1% 12% 1%;
  color: #fff;
  text-align: center;
}




/* media query */
@media (min-width: 504px) and (max-width:768px) {
  
}

@media (max-width:504px) {

  body{
    text-align: center;
  }

  #middle-section-head p{
    padding: 0 8%;
  }

  #middle-section-bottom{
    padding: 2% 8%;
  }
  
  #section-gallery{
    padding: 2% 2% 0;
  }

  #footer{
    margin-top: 0;
    padding: 4% 6%;
  }

  #copyright{
    padding: 4% 10%;
  }

  #home-section-bottom{
    padding: 10% 6% 8%;
  }

  #middle-section-bottom img{
    width: 100%;
  }
  #middle-section-bottom h4{
    margin-top: 10%;
  }
}